
 
    <div class="card bg-succes ">
aqui se agrega los diseños
de boot
      <img [src]="character.image" class="card-img-top" [alt]="character.name">
      <div class="card-body">
        
        <h5 class="card-title">{{character.name}}</h5>
        <p class="card-text">{{character.status}}.</p>
         <p class="card-text">{{character.gender}}.</p>
      </div>
    </div>
    y como lo veo en la página
    creo q te debe salir eso de shared
    terminal
    y eejcutar ng serve --open
    aqui si me carga ati ?
    jeej 
    no a mi no uuqq sale

  